{% extends 'base.html.twig' %}



{% block body %}

<div class="app-title">
        <div>
            <h1><i class="fa fa-user fa-lg"></i> Ajouter un utilisateur</h1>
            <p></p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item"><a href="#">Utilisateur</a></li>
        </ul>
    </div>


    {# Dans notre layout, il faut définir le block body #}
    {% block content %}

      {# On affiche les messages flash que définissent les contrôleurs du bundle #}
      {% for key, messages in app.session.flashbag.all() %}
        {% for message in messages %}
          <div class="alert alert-{{ key }}">
            {{ message|trans({}, 'FOSUserBundle') }}
          </div>
        {% endfor %}
      {% endfor %}

      {# On définit ce block, dans lequel vont venir s'insérer les autres vues du bundle #}
      {% block fos_user_content %}
      {% endblock fos_user_content %}

    {% endblock %}



{% endblock %}